.event {
  padding: 5%;
  margin: 100px 15vw 60px 15vw;
  img {
    width: 100%;
  }
  a {
    color: darkblue;
  }
  h2 {
    color: black;
    text-align: left;
    padding-top: 30px;
    padding-left: 10px;
  }
  h3 {
    color: black; 
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
  }
  p, ol {
    font-size: 110%;
    color: #1a242f;
  }
  h1 {
    margin: 0;
    color: black;
    padding: 10px 10px 20px 2px;
    width: 70%;
  }

  table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 40px;
  }
  th, td {
    border: 1px solid #3c3c3c;
    padding: 10px;
    text-align: left;
  }

  img {
    margin-left: 20px;
    width: 10%;
    height: auto;
  }

}

@media screen and (max-width : 1200px){
  .event {
      margin: 100px 15px 60px 15px;
  }
}

@media screen and (max-width : 760px){
  .venue-map {
    iframe {
      height: 45vh;
    }
  }
  .event {
      margin: 80px 10px 10px 10px;
  }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 120%;
  }
  p, ol, li {
    font-size: 100%;
  }
}
