.context1 {
    margin-left: 40px
}

.context1-title {
    margin: 10px 0 0 40px
}

.context2 {
    margin-left: 45px
}

.context3 {
    margin-left: 50px
}

.context4 {
    margin-left: 55px
}

.company-logo {
    width: 15%;
    height: auto;
}